
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #3d3d3d, #d1cfcf); /* สีพื้นหลังไล่ระดับ */
}

.forgot-password-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  text-align: center;
  border-radius: 50px;
}

.logo img {
  max-width: 300px;
  margin-bottom: 20px;
}

.forgot-password-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forgot-password-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.send-email-button {
  background-color: #000000; /* สีส้ม */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.send-email-button:hover {
  background-color: #f57c00;
}

.back-to-login {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.arrow-left::before {
  content: '\2190'; /* ลูกศรซ้าย */
  margin-right: 5px;
}